//SETUP
@import './setup/functions';
@import './setup/mixins';
@import './setup/typography';
@import './setup/variables';

//BASICS
@import './basics/base';
@import './basics/helpers';
@import './basics/layout';

//CMPS
@import './cmps/top-bar';
@import './cmps/main-nav';
@import './cmps/playing-bar';

.main-app {
	height: 100vh;
	background-color: $background-base;
	grid-template-areas:
		'top-bar         top-bar         top-bar'
		'nav-bar         main-view       right-sidebar'
		'playing-bar playing-bar playing-bar';
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr auto;
}

.main-root {
	// background-color: lightsalmon;
	grid-area: main-view/main-view/main-view/right-sidebar;
}

//VIEWS
